.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.header-content h2 {
  font: var(--title);
}

.header-content p {
  font: var(--paragraph-medium);
  color: var(--content-secondary);
}

.header-calendar__wrapper {
  border: 1px solid var(--border-primary);
  border-radius: 6px;
  height: 48px;
  width: 170px;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.header-calendar__wrapper img {
  width: 20px;
  height: 20px;
}

.header-calendar__wrapper input {
  height: 100%;
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  font: var(--paragraph-medium);
  color: var(--content-primary);
  background: transparent;
}
