.schedules {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  height: calc(100% - (62px * 2));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 10%, rgba(0,0,0,0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 96%, rgba(0,0,0,0));
}

.schedules::-webkit-scrollbar {
  width: 8px;
}

.schedules::-webkit-scrollbar-track {
  background: transparent;
}

.schedules::-webkit-scrollbar-thumb {
  background: var(--content-tertiary);
  border-radius: 4px;
}

.schedules-card {
  border-radius: 10px;
  background-color: var(--background-tertiary);
}

.schedules-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-bottom: 1px solid var(--border-divisor);
}

.schedules-header__period {
  display: flex;
  align-items: center;
  gap: 12px;
  font: var(--label-large);
}

.schedules-header__hour {
  color: var(--content-secondary);
  font: var(--label-large);
}

.schedules-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.schedules-list__item {
  padding: 16px 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  border-bottom: 1px solid var(--border-divisor);
}

.schedules-list__item:last-child {
  border: none;
}

.schedules-list__hour,
.schedules-list__responsible,
.schedules-list__type,
.schedules-list__remove {
  flex: 1;
}

.schedules-list__hour {
  max-width: 6%;
  text-align: left;
}

.schedules-list__remove {
  max-width: 25%;
  text-align: center;
}

.schedules-list__hour, .schedules-list__pet {
  font: var(--label-small);
}

.schedules-list__tutor, .schedules-list__type {
  font: var(--paragraph-small);
  color: var(--content-secondary);
}

.schedules-list__remove {
  font: var(--paragraph-small);
  color: var(--content-tertiary);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.schedules-list__remove:hover {
  color: var(--content-primary);
  text-decoration: underline;
}

